<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ClientTest.Properties.Settings>
            <setting name="BackupFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SessionID" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value/>
            </setting>
        </ClientTest.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ClientTest.Properties.Settings>
            <setting name="serverCertificateName" serializeAs="String">
                <value>tempCA</value>
            </setting>
            <setting name="machineName" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>444</value>
            </setting>
        </ClientTest.Properties.Settings>
    </applicationSettings>
</configuration>